<div class="login" ng-controller="LoginCtrl">
  <div class="content">
    <form ng-submit="retrievePassword(user)">
      <h3>Esqueceu a senha?</h3>

      <p>Preencha o campo abaixo para receber uma nova senha.</p>

      <div class="form-group">
        <input class="form-control placeholder-no-fix"
               type="email"
               autocomplete="off"
               placeholder="Email"
               ng-model="user.email"
               required>
      </div>
      <div class="form-actions">
        <a href="#/" class="btn btn-default">Voltar</a>
        <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Enviar</button>
      </div>
    </form>
  </div>
  <div>
