<div class="login" ng-controller="UserCtrl">
    <div class="content">
        <form  ng-submit="registerUser(user)">
            <div class="logo">
                <img src="images/logo.png"/>
            </div>

            <h3>Inscreva-se</h3>

            <p class="hint">
                Digite os dados abaixo:
            </p>

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Nome</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Nome" ng-model="user.name" required/>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" ng-model="user.email" required/>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Celular</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Celular" ng-model="user.phone"  required/>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Estado</label>
                <select name="Estado" class="form-control">
                    <option value="1">Acre</option>
                    <option value="2">Alagoas</option>
                    <option value="3">Amapá</option>
                    <option value="4">Amazonas</option>
                    <option value="5">Bahia</option>
                    <option value="6">Ceará</option>
                    <option value="7">Distrito Federal</option>
                    <option value="8">Espirito Santo</option>
                    <option value="9">Goiás</option>
                    <option value="10">Maranhão</option>
                    <option value="11">Mato Grosso</option>
                    <option value="12">Mato Grosso do Sul</option>
                    <option value="13">Minas Gerais</option>
                    <option value="14">Pará</option>
                    <option value="15">Paraiba</option>
                    <option value="16">Paraná</option>
                    <option value="17">Pernambuco</option>
                    <option value="18">Piauí</option>
                    <option value="19">Rio de Janeiro</option>
                    <option value="20">Rio Grande do Norte</option>
                    <option value="21">Rio Grande do Sul</option>
                    <option value="22">Rondônia</option>
                    <option value="23">Roraima</option>
                    <option value="24">Santa Catarina</option>
                    <option value="25">São Paulo</option>
                    <option value="26">Sergipe</option>
                    <option value="27">Tocantis</option>


                </select>
            </div>



            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password"
                       placeholder="Password" name="password" ng-model="user.password"/>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                       placeholder="Re-type Your Password" name="rpassword"/>
            </div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="check">
                    <input type="checkbox" name="tnc" required>Eu li e concordo com os <a href="#">
                    Termos de Serviço </a>

                </label>

                <div id="register_tnc_error">
                </div>
            </div>
            <div class="form-actions">
               <a href="#/login" class="btn btn-default">Back</a>
               <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit  </button>
            </div>
        </form>
    </div>
</div>
