<div class="login" ng-controller="UserCtrl">
  <div class="content">
    <form ng-submit="registerUser(user)">
      <h3>Inscreva-se</h3>

      <p class="hint">
        Digite os dados abaixo:
      </p>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Nome</label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="Nome" ng-model="user.name" required/>
      </div>
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="Email" ng-model="user.email" required/>
      </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Estado</label>
        <select name="Estado" class="form-control" ng-model="user.idState" required>
          <option value="" selected="Selecione o Estado">Selecione o Estado</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AM">Amazonas</option>
          <option value="AP">Amapá</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PR">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RO">Rondônia</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SE">Sergipe</option>
          <option value="SP">São Paulo</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" required="">Password</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
               placeholder="Password" name="password" ng-model="user.password" required=>
      </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
               placeholder="Re-type Your Password" required/>
      </div>
      <div class="form-group margin-top-20 margin-bottom-20">
        <label class="check">
          <input type="checkbox" ng-model="user.active" autocomplete="off" required/> I agree to the <a href="#">
          Terms of Service </a>
          & <a href="#">
          Privacy Policy </a>
        </label>

        <div id="register_tnc_error">
        </div>
      </div>
      <div class="form-actions">
          <a href="#/" class="btn btn-default">Voltar</a>
          <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Enviar</button>
      </div>
    </form>
  </div>
</div>
